// GLASS
$glass-dark-gray-6: rgba(27, 27, 30, 0.8);
$glass-dark-gray-5: rgba(44, 43, 46, 0.8);
$glass-dark-gray-4: rgba(58, 58, 60, 0.8);
$glass-dark-gray-3: rgba(72, 72, 74, 0.8);
$glass-dark-gray-2: rgba(99, 99, 102, 0.8);
$glass-dark-gray-1: rgba(142, 142, 147, 0.8);

// MAIN PALETTE
$dark-gray-6: rgb(27, 27, 30);
$dark-gray-5: rgb(27, 27, 30);
$dark-gray-4: rgb(44, 43, 46);
$dark-gray-3: rgb(58, 58, 60);
$dark-gray-2: rgb(72, 72, 74);
$dark-gray-1: rgb(99, 99, 102);

$beige: rgb(242, 241, 240);
$text-white: rgb(242, 242, 247);


// SOCIAL
$social-vk: rgb(79, 130, 186);
$social-facebook: rgb(1, 104, 226);
$social-viber: rgb(133, 76, 179);
$social-whatsapp: rgb(61, 220, 76);
$social-youtube: rgb(255, 0, 0);