@import 'modules/colors';

header {
  height: 550px;
  background: url(../images/nikolay-vorobyev-o7jIzNWvCRo-unsplash.jpg) no-repeat center center / cover;
  .wrapper-menu {
    z-index: 5000;
    position: sticky;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $glass-dark-gray-4;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: none;
    box-shadow: 0 1px 2px $glass-dark-gray-6;
    transition: 0.3s ease;
    &-reduced {
      height: 1rem;
      background-color: $glass-dark-gray-2;
    }
    figure {
      width: 38px;
      height: 38px;
      overflow: hidden;
      .logo {
        display: block;
        width: 108%;
        margin: -2px 0 0 -2px;
      }
    }
    .wrapper-mobile {
      display: none;
      .account-logo {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(242, 242, 247, 0.6);
        border: none;
        border-radius: 50%;
      }
      .menu-button {
        display: none;
        margin-right: 10px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        &_elem {
          width: 25px;
          border-radius: 1px;
          border: 1px solid $text-white;
          transition: .3s ease;
        }
        &__active {
          .menu-button {
            justify-content: center;
          }
          .menu-button_elem:nth-child(2)  {
            opacity: 0;
            width: 0;
          }
         .menu-button_elem:first-child {
            transform: rotate(45deg) translate(5px, 6px);
          }
          .menu-button_elem:last-child {
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }
    }
    }
    .menu_items {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &-link {
        text-transform: uppercase;
        text-decoration: none;
        .icon-login, .icon_logout {
          font-size: 18px;
        }
      }
    }
  .mobile-menu {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: $glass-dark-gray-2;
    backdrop-filter: blur(4px);
    transition: 0.4s ease;
    overflow: hidden;
    z-index: 2000;
    a {
      font-size: 20px;
      color: $text-white;
      opacity: 0;
      transition: 0.4s ease;
    }
    &__isOpen {
      -webkit-backdrop-filter: blur(4px);
      height: 100%;
      a {
        opacity: 1;
      }
    }
    &_items {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      &-link {
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  header {
    height: 250px;
    .wrapper-menu {
      figure {
        margin: 10px;
      }
      .menu_items {
        display: none;
      }
      .wrapper-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .account-logo {
          margin-right: 20px;
        }
        .menu-button {
          display: flex;
        }
      }
    }
  }
}